/* Mobile */

* {
  text-decoration: none;
  box-shadow: none;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
}
.desktop {
  display: none;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  border-bottom: 1px solid #c4c4c4;
}
.top-icons {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
}
.top-icons div {
  margin-left: 30px;
}
.top-icons.desktop {
  display: none;
}
.shop-basket span {
  position: absolute;
  transform: translateX(-19px) translateY(-17px);
  font-size: 11px;
  background: #6bc0b5;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  text-align: center;
  line-height: 17px;
  color: #fff;
}
.footer {
  background: #000;
  color: #fff;
  padding: 15px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
}
.newsletter input {
  background: #fff;
  width: 100%;
  height: 46px;
  text-align: center;
  margin: 20px 0;
  color: #000;
}
.newsletter button {
  color: #fff;
  border: 1px solid #fff;
  width: 122px;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  font-weight: 600;
}
.social-media-icons {
  min-width: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.institutional {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}
.institutional div {
  display: flex;
  flex-direction: column;
  font-size: 11px;
}
.institutional div a {
  color: #fff;
}
.payment-options {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 370px;
}
.site-info {
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.secure-site::before {
  content: url(icons/lock-icon.svg);
  margin-right: 5px;
  height: 25px;
  display: block;
  float: left;
}
.other-options a {
  color: #fff;
  text-decoration: underline;
  font-size: 13px;
}
.footer-copyright {
  font-size: 12px;
  text-align: center;
  line-height: 12px;
}

/* Desktop */

@media (min-width: 1200px) {
  .mobile {
    display: none;
  }
  .header div {
    width: 30%;
  }
  .menu.desktop {
    display: flex;
  }
  .logo.desktop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo.mobile {
    display: none;
  }
  .square.desktop,
  .arrow.desktop,
  .search.desktop {
    display: block;
  }
  .menu.desktop a {
    display: block;
    margin-right: 15px;
    color: #666;
    font-size: 16px;
    text-transform: uppercase;
    height: 25px;
    line-height: 25px;
    transition: all 0.3s;
    font-weight: 600;
  }
  .menu.desktop a.active {
    border-bottom: 4px solid #73a8a0;
    color: #000;
  }
  .menu.desktop a:hover {
    border-bottom: 4px solid #73a8a0;
  }
  .top-icons.desktop {
    display: flex;
  }
  .shop-basket-desktop span {
    position: absolute;
    transform: translateX(-22px) translateY(-17px);
    font-size: 11px;
    background: #6bc0b5;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 17px;
    color: #fff;
  }
}
